body {
  background-color:#FFE4B5;
  margin:0;
}

.container{
  background-color:white;
  width:80%;
  border-radius: 16px;
  margin:160px auto 0px auto;
}

.inputMenu {
  height:120px;
  padding:8px 32px;
  user-select: none;
}

.inputMenuTitle{
  font-size: 24px;
  margin:16px 8px;
}

#todoInput{
  width:95%;
  font-size:16px;
  margin-bottom:16px;
  outline:none;
}

.dolist, .donelist{
  width:100%;
  margin:0px auto;
  display: none;
  user-select: none;
}

.listTitle{
  font-size: 20px;
  margin:0px 8px;
  padding-left:32px;
  background-color: white;
}

.dolist-contents, .donelist-contents{
  list-style: none;
  padding:8px 32px;
  margin:0px 16px;
}

.dolist-item,.donelist-item{
  display:flex;
  align-items:flex-start;
  padding-bottom:16px;
}

.list-chk{
  margin-right:16px;
}

.dolist-txt, .donelist-txt{
  word-break: break-all;
}

.material-icons{
  color:grey;
  background-color: white;
  cursor: pointer;
  margin-left:16px;
  padding:0;
  border: none;
}